<rewriteMaps>
  <rewriteMap name="Legacy" defaultValue="" ignoreCase="false">
    <add key="/Visas" value="/visas" />
    <add key="/Visas/Russian" value="/visas/russian" />
    <add key="/Info" value="/info" />
    <add key="/Info/About-Us" value="/info/about-us" />
    <add key="/Info/Contact-Us" value="/info/contact-us" />
    <add key="/Info/How-To-Get-Married" value="/info/how-to-get-married" />
    <add key="/Info/Languages" value="/info/languages" />
    <add key="/Info/Links" value="/info/links" />
    <add key="/Info/Money" value="/info/money" />
    <add key="/Info/Money-Back-Guarantee" value="/info/money-back-guarantee" />
    <add key="/Info/Why-Real-Russia" value="/info/why-real-russia" />
    <add key="/Info/WorldTravelAwards" value="/info/worldtravelawards" />
    <add key="/Info/TravelInsurance" value="/info/travelinsurance" />
    <add key="/Info/Faq" value="/info/faq" />
    <add key="/Info/Money/Budget-Russia" value="/info/money/budget-russia" />
    <add key="/Info/Testimonials" value="/info/testimonials" />
    <add key="/Info/Testimonials/Video" value="/info/testimonials/video" />	
    <add key="/Info/Crimea-Update" value="/info/crimea-update" />
    <add key="/Info/Real-Russia-Story" value="/info/real-russia-story" />
    <add key="/Careers" value="/careers" />
    <add key="/Partners" value="/partners" />
    <add key="/Partners/Agreement" value="/partners/agreement" />
    <add key="/Info/Destinations/Beijing" value="/info/destinations/beijing" />
    <add key="/Info/Destinations/Moscow" value="/info/destinations/moscow" />
    <add key="/Info/Destinations/Irkutsk" value="/info/destinations/irkutsk" />
    <add key="/Terms" value="/terms" />
    <add key="/Privacy" value="/privacy" />
    <add key="/Info/Destinations/Volgograd" value="/info/destinations/volgograd" />
    <add key="/Info/Destinations/Novosibirsk" value="/info/destinations/novosibirsk" />
    <add key="/Info/Destinations/" value="/info/destinations" />
    <add key="/Info/HowToPay" value="/info/howtopay" />
    <add key="/Info/coronavirus-COVID19" value="/info/coronavirus-covid19" />
    <add key="/Info/Destinations/Kazan" value="/info/destinations/kazan" />
    <add key="/Info/Destinations/Ulan-Bator" value="/info/destinations/ulan-bator" />
    <add key="/Info/Destinations/St-Petersburg" value="/info/destinations/st-petersburg" />
    <add key="/Info/Destinations/Vladivostok" value="/info/destinations/vladivostok" />
    <add key="/Info/Destinations/Lake-Baikal" value="/info/destinations/lake-baikal" />
    <add key="/Info/Destinations/Kamchatka" value="/info/destinations/kamchatka" />
    <add key="/Info/Destinations/Murmansk" value="/info/destinations/murmansk" />
    <add key="/Info/Destinations/Yekaterinburg" value="/info/destinations/yekaterinburg" />
    <add key="/Info/Transfers" value="/info/transfers" />
    <add key="/Partners/Apply" value="/partners/apply" />
    <add key="/Info/TravelSim" value="/info/travelsim" />
    <add key="/Info/CustomerServices" value="/info/customerservices" />
    <add key="/Info/Destinations/Almaty" value="/info/destinations/almaty" />
    <add key="/Info/ReadingTickets" value="/info/readingtickets" />
    <add key="/Info/Travel-Guides" value="/info/travel-guides" />
    <add key="/Info/Real-Russia-Team" value="/info/real-russia-team" />
    <add key="/Newsletter-Offer" value="/newsletter-offer" />
    <add key="/Site-Pages" value="/site-pages" />
    <add key="/Info/Destinations/Perm" value="/info/destinations/perm" />
    <add key="/Info/Destinations/Ulan-Ude" value="/info/destinations/ulan-ude" />
    <add key="/Blog" value="/blog" />
    
    <add key="/Blog/things-to-do-in-sochi-alongside-the-winter-olympics-1" value="/blog/things-to-do-in-sochi-alongside-the-winter-olympics-1" />
    <add key="/Blog/airport-update-for-sochi-olympics-2" value="/blog/airport-update-for-sochi-olympics-2" />
    <add key="/Blog/sport-and-travel-fans-22nd-winter-olympics-sochi-3" value="/blog/sport-and-travel-fans-22nd-winter-olympics-sochi-3" />
    <add key="/Blog/real-russia-win-again-4" value="/blog/real-russia-win-again-4" />
    <add key="/Blog/to-the-edge-of-the-world-–-the-story-of-the-trans-siberian-railway-christian-wolmar-5" value="/blog/to-the-edge-of-the-world-the-story-of-the-trans-siberian-railway-christian-wolmar-5" />
    <add key="/Blog/journey-through-russia-mongolia-and-china-part-3-6" value="/blog/journey-through-russia-mongolia-and-china-part-3-6" />
    <add key="/Blog/the-visa-team-a-day-in-the-life-7" value="/blog/the-visa-team-a-day-in-the-life-7" />
    <add key="/Blog/journey-through-russia-mongolia-and-china-part-2-8" value="/blog/journey-through-russia-mongolia-and-china-part-2-8" />
    <add key="/Blog/journey-through-russia-mongolia-and-china-part-1-9" value="/blog/journey-through-russia-mongolia-and-china-part-1-9" />
    <add key="/Blog/real-russia-are-winners-at-the-world-travel-awards-2013-10" value="/blog/real-russia-are-winners-at-the-world-travel-awards-2013-10" />
    <add key="/Blog/lead-up-to-the-world-travel-awards-2013-27" value="/blog/lead-up-to-the-world-travel-awards-2013-27" />
    <add key="/Blog/russian-visas-for-the-pga-28" value="/blog/russian-visas-for-the-pga-28" />
    <add key="/Blog/visa-free-travel-agreement-to-mongolia-for-german-citizens-29" value="/blog/visa-free-travel-agreement-to-mongolia-for-german-citizens-29" />
    <add key="/Blog/st-petersburg-hermitage-voted-as-top-museum-in-the-world-2013--30" value="/blog/st-petersburg-hermitage-voted-as-top-museum-in-the-world-2013-30" />
    <add key="/Blog/world-travel-awards-europe-voting-closes-31" value="/blog/world-travel-awards-europe-voting-closes-31" />
    <add key="/Blog/go-help-charity-rallies-launch-32" value="/blog/go-help-charity-rallies-launch-32" />
    <add key="/Blog/naadam-festival-2018-33" value="/blog/naadam-festival-2018-33" />
    <add key="/Blog/st-petersburg-international-economic-forum-2013-34" value="/blog/st-petersburg-international-economic-forum-2013-34" />
    <add key="/Blog/russia-dayrussias-independence-day-35" value="/blog/russia-dayrussias-independence-day-35" />
    <add key="/Blog/four-new-train-stations-planned-for-moscow-36" value="/blog/four-new-train-stations-planned-for-moscow-36" />
    <add key="/Blog/world-travel-awards-beckon-real-russia-37" value="/blog/world-travel-awards-beckon-real-russia-37" />
    <add key="/Blog/mariinsky-reveals-new-theatre-38" value="/blog/mariinsky-reveals-new-theatre-38" />
    <add key="/Blog/easyjet-flights-to-russia-soon-to-include-manchester-to-st-petersburg-39" value="/blog/easyjet-flights-to-russia-soon-to-include-manchester-to-st-petersburg-39" />
    <add key="/Blog/new-timetable-for-rossiya-train-2-on-trans-siberian-route-40" value="/blog/new-timetable-for-rossiya-train-2-on-trans-siberian-route-40" />
    <add key="/Blog/stalins-secret-bunker-in-samara-41" value="/blog/stalins-secret-bunker-in-samara-41" />
    <add key="/Blog/new-tour-ranges-now-available-42" value="/blog/new-tour-ranges-now-available-42" />
    <add key="/Blog/visa-fee-waiver-for-moscow-2013-world-athletic-championships--43" value="/blog/visa-fee-waiver-for-moscow-2013-world-athletic-championships-43" />
    <add key="/Blog/duty-free-shopping-on-international-trains-44" value="/blog/duty-free-shopping-on-international-trains-44" />
    <add key="/Blog/easter-bank-holidays-45" value="/blog/easter-bank-holidays-45" />
    <add key="/Blog/russia-announces-smoking-ban-46" value="/blog/russia-announces-smoking-ban-46" />
    <add key="/Blog/dynamic-pricing-introduced-for-some-train-routes-47" value="/blog/dynamic-pricing-introduced-for-some-train-routes-47" />
    <add key="/Blog/one-year-to-go-48" value="/blog/one-year-to-go-48" />
    <add key="/Blog/70th-anniversary-of-the-battle-of-stalingrad-49" value="/blog/70th-anniversary-of-the-battle-of-stalingrad-49" />
    <add key="/Blog/upcoming-consulates-closures-50" value="/blog/upcoming-consulates-closures-50" />
    <add key="/Blog/closure-of-bookings-for-russia-helsinki-trains-51" value="/blog/closure-of-bookings-for-russia-helsinki-trains-51" />
    <add key="/Blog/russian-railways-change-trans-siberian-tariffs-52" value="/blog/russian-railways-change-trans-siberian-tariffs-52" />
    <add key="/Blog/trans-siberian-train-9-baikal-changes-route-and-schedule-53" value="/blog/trans-siberian-train-9-baikal-changes-route-and-schedule-53" />
    <add key="/Blog/tripadvisor-names-2-russian-cities-as-top-destination-on-the-rise-54" value="/blog/tripadvisor-names-2-russian-cities-as-top-destination-on-the-rise-54" />
    <add key="/Blog/easyjet-wins-moscow-domodedovo-airport-slots-55" value="/blog/easyjet-wins-moscow-domodedovo-airport-slots-55" />
    <add key="/Blog/extended-national-holidays-beginning-dec-2012-56" value="/blog/extended-national-holidays-beginning-dec-2012-56" />
    <add key="/Blog/russia-may-simplify-visa-regulations-for-2018-world-cup-62" value="/blog/russia-may-simplify-visa-regulations-for-2018-world-cup-62" />
    <add key="/Blog/moscow-to-sochi-torch-route-announced-63" value="/blog/moscow-to-sochi-torch-route-announced-63" />
    <add key="/Blog/win-lonely-planet-vouchers-by-filling-in-our-survey-64" value="/blog/win-lonely-planet-vouchers-by-filling-in-our-survey-64" />
    <add key="/Blog/get-50-off-russian-train-tickets-65" value="/blog/get-50-off-russian-train-tickets-65" />
    <add key="/Blog/russian-world-cup-host-cities-named-66" value="/blog/russian-world-cup-host-cities-named-66" />
    <add key="/Blog/us-visas-to-russia-67" value="/blog/us-visas-to-russia-67" />
    <add key="/Blog/russian-railways-ticket-suspension-68" value="/blog/russian-railways-ticket-suspension-68" />
    <add key="/Blog/world-cup-venues-released-29th-sept-69" value="/blog/world-cup-venues-released-29th-sept-69" />
    <add key="/Blog/the-opening-of-sochi-winter-olympics-85" value="/blog/the-opening-of-sochi-winter-olympics-85" />
    <add key="/Blog/top-10-most-desired-winter-journeys-part-1-134" value="/blog/top-10-most-desired-winter-journeys-part-1-134" />
    <add key="/Blog/f1-grand-prix-in-sochi-135" value="/blog/f1-grand-prix-in-sochi-135" />
    <add key="/Blog/real-russia-winners-at-the-world-travel-awards-2014-136" value="/blog/real-russia-winners-at-the-world-travel-awards-2014-136" />
    <add key="/Blog/mongolian-and-kazakhstan-visa-free-regime-137" value="/blog/mongolian-and-kazakhstan-visa-free-regime-137" />
    <add key="/Blog/mongolian-holidays-naadam-festival-138" value="/blog/mongolian-holidays-naadam-festival-138" />
    <add key="/Blog/russia-day-12th-june-2020-139" value="/blog/russia-day-12th-june-2020-139" />
    <add key="/Blog/lyoness-open-tournament-140" value="/blog/lyoness-open-tournament-140" />
    <add key="/Blog/russian-railway-regulation-no-smoking-141" value="/blog/russian-railway-regulation-no-smoking-141" />
    <add key="/Blog/real-russia-tours-brochures-142" value="/blog/real-russia-tours-brochures-142" />
    <add key="/Blog/bmw-pga-2014-european-golf-tour-143" value="/blog/bmw-pga-2014-european-golf-tour-143" />
    <add key="/Blog/go-help-charity-rally-152" value="/blog/go-help-charity-rally-152" />
    <add key="/Blog/russian-holidays-part-2-the-beginning-of-the-great-lent-153" value="/blog/russian-holidays-part-2-the-beginning-of-the-great-lent-153" />
    <add key="/Blog/top-10-most-desired-winter-journeys-part-2-154" value="/blog/top-10-most-desired-winter-journeys-part-2-154" />
    <add key="/Blog/russian-holidays-part-1-defender-of-the-fatherland-158" value="/blog/russian-holidays-part-1-defender-of-the-fatherland-158" />
    <add key="/Blog/russian-holidays-part-3-may-9th-victory-day-160" value="/blog/russian-holidays-part-3-may-9th-victory-day-160" />
    <add key="/Blog/world-travel-awards-2014-nomination-161" value="/blog/world-travel-awards-2014-nomination-161" />
    <add key="/Blog/10-amazing-facts-about-lake-baikal-irkutsk-162" value="/blog/10-amazing-facts-about-lake-baikal-irkutsk-162" />
    <add key="/Blog/russia-may-simplify-visa-regulations-for-2018-world-cup-220" value="/blog/russia-may-simplify-visa-regulations-for-2018-world-cup-220" />
    <add key="/Blog/extended-national-holidays-beginning-dec-2012-221" value="/blog/extended-national-holidays-beginning-dec-2012-221" />
    <add key="/Blog/real-russia-visits-russia-260" value="/blog/real-russia-visits-russia-260" />
    <add key="/Blog/crossing-the-russian-border-via-finland-290" value="/blog/crossing-the-russian-border-via-finland-290" />
    <add key="/Blog/a-beginners-guide-to-russia-302" value="/blog/a-beginners-guide-to-russia-302" />
    <add key="/Blog/saint-petersburg-moskovsky-railway-station-313" value="/blog/saint-petersburg-moskovsky-railway-station-313" />
    <add key="/Blog/new-year-in-russia-318" value="/blog/new-year-in-russia-318" />
    <add key="/Blog/2014-our-customers-year-in-numbers-319" value="/blog/2014-our-customers-year-in-numbers-319" />
    <add key="/Blog/where-did-our-customers-go-in-2014-412" value="/blog/where-did-our-customers-go-in-2014-412" />
    <add key="/Blog/swiss-franc-revaluation-affects-trans-siberian-rail-ticket-costs-413" value="/blog/swiss-franc-revaluation-affects-trans-siberian-rail-ticket-costs-413" />
    <add key="/Blog/a-word-from-our-new-private-and-luxury-tour-providers-623" value="/blog/a-word-from-our-new-private-and-luxury-tour-providers-623" />
    <add key="/Blog/real-russia-nominated-in-the-2015-world-travel-awards-701" value="/blog/real-russia-nominated-in-the-2015-world-travel-awards-701" />
    <add key="/Blog/full-time-and-part-time-junior-visa-administrator-723" value="/blog/full-time-and-part-time-junior-visa-administrator-723" />
    <add key="/Blog/guest-blog-the-caspian-challenge-762" value="/blog/guest-blog-the-caspian-challenge-762" />
    <add key="/Blog/real-russia’s-2015-visit-to-kazakhstan-803" value="/blog/real-russias-2015-visit-to-kazakhstan-803" />
    <add key="/Blog/the-kazakhstan-adventure-day-one-810" value="/blog/the-kazakhstan-adventure-day-one-810" />
    <add key="/Blog/the-kazakhstan-adventure-day-two-816" value="/blog/the-kazakhstan-adventure-day-two-816" />
    <add key="/Blog/the-kazakhstan-adventure-day-three-part-one-837" value="/blog/the-kazakhstan-adventure-day-three-part-one-837" />
    <add key="/Blog/the-kazakhstan-adventure-day-three-part-two-848" value="/blog/the-kazakhstan-adventure-day-three-part-two-848" />
    <add key="/Blog/all-aboard-the-talgo-train-925" value="/blog/all-aboard-the-talgo-train-925" />
    <add key="/Blog/the-kazakhstan-adventure-day-four-940" value="/blog/the-kazakhstan-adventure-day-four-940" />
    <add key="/Blog/the-kazakhstan-adventure-day-five-967" value="/blog/the-kazakhstan-adventure-day-five-967" />
    <add key="/Blog/a-taste-of-russia-1014" value="/blog/a-taste-of-russia-1014" />
    <add key="/Blog/a-taste-of-russia-olivier-salad--1047" value="/blog/a-taste-of-russia-olivier-salad-1047" />
    <add key="/Blog/the-kazakstan-adventure-day-six-highs-and-lows-mountains-and-depressions-1112" value="/blog/the-kazakstan-adventure-day-six-highs-and-lows-mountains-and-depressions-1112" />
    <add key="/Blog/the-kazakhstan-adventure-day-seven-aktau-and-the-sea-1163" value="/blog/the-kazakhstan-adventure-day-seven-aktau-and-the-sea-1163" />
    <add key="/Blog/a-taste-of-russia-blini-1189" value="/blog/a-taste-of-russia-blini-1189" />
    <add key="/Blog/guest-blog-cycling-through-russia-from-finland-to-estonia-1208" value="/blog/guest-blog-cycling-through-russia-from-finland-to-estonia-1208" />
    <add key="/Blog/the-kazakhstan-adventure-day-eight-1225" value="/blog/the-kazakhstan-adventure-day-eight-1225" />
    <add key="/Blog/a-taste-of-russia-pelmeni-1272" value="/blog/a-taste-of-russia-pelmeni-1272" />
    <add key="/Blog/world-travel-awards-2015-the-result-1273" value="/blog/world-travel-awards-2015-the-result-1273" />
    <add key="/Blog/let-the-adventures-begin-1281" value="/blog/let-the-adventures-begin-1281" />
    <add key="/Blog/let-the-adventures-begin-in-novosibirsk-1297" value="/blog/let-the-adventures-begin-in-novosibirsk-1297" />
    <add key="/Blog/let-the-adventures-begin-in-kazan-1328" value="/blog/let-the-adventures-begin-in-kazan-1328" />
    <add key="/Blog/real-russia-interview-thepromise-1344" value="/blog/real-russia-interview-thepromise-1344" />
    <add key="/Blog/let-the-adventures-begin-in-ulan-ude-1355" value="/blog/let-the-adventures-begin-in-ulan-ude-1355" />
    <add key="/Blog/vodka-and-friendship-aboard-the-trans-siberian-1359" value="/blog/vodka-and-friendship-aboard-the-trans-siberian-1359" />
    <add key="/Blog/customer-tales-kamchatka-and-the-trans-siberian-railway-1369" value="/blog/customer-tales-kamchatka-and-the-trans-siberian-railway-1369" />
    <add key="/Blog/customer-tales-trains-and-banyas-and-exploring-oh-my-part-one-1376" value="/blog/customer-tales-trains-and-banyas-and-exploring-oh-my-part-one-1376" />
    <add key="/Blog/travelsim-the-smart-way-to-call-abroad-1388" value="/blog/travelsim-the-smart-way-to-call-abroad-1388" />
    <add key="/Blog/customer-tales-trains-and-banyas-and-exploring-oh-my-part-two-1396" value="/blog/customer-tales-trains-and-banyas-and-exploring-oh-my-part-two-1396" />
    <add key="/Blog/customer-tales-trains-and-banyas-and-exploring-oh-my-part-three-1409" value="/blog/customer-tales-trains-and-banyas-and-exploring-oh-my-part-three-1409" />
    <add key="/Blog/let-the-adventures-begin-in-perm-1702" value="/blog/let-the-adventures-begin-in-perm-1702" />
    <add key="/Blog/q-and-a-with-rail-adventurer-matthew-woodward-1720" value="/blog/q-and-a-with-rail-adventurer-matthew-woodward-1720" />
    <add key="/Blog/customer-tales-the-great-trans-siberian-journey-1844" value="/blog/customer-tales-the-great-trans-siberian-journey-1844" />
    <add key="/Blog/real-russia-travels-the-trans-siberian-1873" value="/blog/real-russia-travels-the-trans-siberian-1873" />
    <add key="/Blog/russian-holidays-maslenitsa-1881" value="/blog/russian-holidays-maslenitsa-1881" />
    <add key="/Blog/defender-of-the-fatherland-day-1903" value="/blog/defender-of-the-fatherland-day-1903" />
    <add key="/Blog/international-womens-day-in-russia-1907" value="/blog/international-womens-day-in-russia-1907" />
    <add key="/Blog/russian-orthodox-easter-a-bright-holiday-for-everyone-1917" value="/blog/russian-orthodox-easter-a-bright-holiday-for-everyone-1917" />
    <add key="/Blog/victory-day-in-russia-1924" value="/blog/victory-day-in-russia-1924" />
    <add key="/Blog/suzdal-cucumber-festival-1929" value="/blog/suzdal-cucumber-festival-1929" />
    <add key="/Blog/meet-the-team-doina-bejenaru-1936" value="/blog/meet-the-team-doina-bejenaru-1936" />
    <add key="/Blog/win-a-copy-of-matthew-woodwards-new-book-‘trans-siberian-adventures’--1952" value="/blog/win-a-copy-of-matthew-woodwards-new-book-‘trans-siberian-adventures-1952" />
    <add key="/Blog/meet-the-team-igor-skorodumov-1966" value="/blog/meet-the-team-igor-skorodumov-1966" />
    <add key="/Blog/real-russia-interview-the-life-route-charity-1970" value="/blog/real-russia-interview-the-life-route-charity-1970" />
    <add key="/Blog/golden-eagle-festival-1978" value="/blog/golden-eagle-festival-1978" />
    <add key="/Blog/meet-the-team-yuriy-legepekov-1992" value="/blog/meet-the-team-yuriy-legepekov-1992" />
    <add key="/Blog/12-of-the-best-russian-travel-instagram-accounts-2002" value="/blog/12-of-the-best-russian-travel-instagram-accounts-2002" />
    <add key="/Blog/meet-the-team-andrew-glenister-2003" value="/blog/meet-the-team-andrew-glenister-2003" />
    <add key="/Blog/meet-the-team-inna-pluzhnyk-2005" value="/blog/meet-the-team-inna-pluzhnyk-2005" />
    <add key="/Blog/an-interview-with-a-globetrotter-and-travel-writer-jessica-2018" value="/blog/an-interview-with-a-globetrotter-and-travel-writer-jessica-2018" />
    <add key="/Blog/world-travel-awards-2017-we-did-it-2021" value="/blog/world-travel-awards-2017-we-did-it-2021" />
    <add key="/Blog/perceptions-on-mongolia-2024" value="/blog/perceptions-on-mongolia-2024" />
    <add key="/Blog/perceptions-of-russia-2058" value="/blog/perceptions-of-russia-2058" />
    <add key="/Blog/meet-the-team-natasha-zhukova-2074" value="/blog/meet-the-team-natasha-zhukova-2074" />
    <add key="/Blog/experiences-traveling-by-train-2076" value="/blog/experiences-traveling-by-train-2076" />
    <add key="/Blog/experiences-interacting-with-locals-2079" value="/blog/experiences-interacting-with-locals-2079" />
    <add key="/Blog/the-camel-festival-in-mongolia-2099" value="/blog/the-camel-festival-in-mongolia-2099" />
    <add key="/Blog/i-travelled-5793-kilometres-on-the-trans-siberian-railway-2101" value="/blog/i-travelled-5793-kilometres-on-the-trans-siberian-railway-2101" />
    <add key="/Blog/taking-the-trans-siberian-railway-into-kazakhstan-2105" value="/blog/taking-the-trans-siberian-railway-into-kazakhstan-2105" />
    <add key="/Blog/chinese-new-year-2108" value="/blog/chinese-new-year-2108" />
    <add key="/Blog/meet-the-team-dominic-quiney-2109" value="/blog/meet-the-team-dominic-quiney-2109" />
    <add key="/Blog/customer-tales-the-ultimate-trans-siberian-adventure-2120" value="/blog/customer-tales-the-ultimate-trans-siberian-adventure-2120" />
    <add key="/Blog/2017-our-customers-year-in-numbers-2131" value="/blog/2017-our-customers-year-in-numbers-2131" />
    <add key="/Blog/meet-the-team-tanya-pecheykina-2134" value="/blog/meet-the-team-tanya-pecheykina-2134" />
    <add key="/Blog/let-the-adventures-begin-in-yaroslavl--2326" value="/blog/let-the-adventures-begin-in-yaroslavl-2326" />
    <add key="/Blog/why-you-should-go-to-st-petersburg-this-summer-2338" value="/blog/why-you-should-go-to-st-petersburg-this-summer-2338" />
    <add key="/Blog/a-taste-of-russia-honey-cake-2341" value="/blog/a-taste-of-russia-honey-cake-2341" />
    <add key="/Blog/museum-night-in-st-petersburg-2018-2370" value="/blog/museum-night-in-st-petersburg-2018-2370" />
    <add key="/Blog/enjoy-chinas-dragon-boat-festival-this-spring-2371" value="/blog/enjoy-chinas-dragon-boat-festival-this-spring-2371" />
    <add key="/Blog/seasonal-guide-to-beijing-spring-2372" value="/blog/seasonal-guide-to-beijing-spring-2372" />
    <add key="/Blog/seasonal-guide-to-beijing-summer-2376" value="/blog/seasonal-guide-to-beijing-summer-2376" />
    <add key="/Blog/seasonal-guide-to-beijing-autumn-2378" value="/blog/seasonal-guide-to-beijing-autumn-2378" />
    <add key="/Blog/seasonal-guide-to-beijing-winter-2379" value="/blog/seasonal-guide-to-beijing-winter-2379" />
    <add key="/Blog/seasonal-guide-to-moscow-spring-2382" value="/blog/seasonal-guide-to-moscow-spring-2382" />
    <add key="/Blog/seasonal-guide-to-moscow-autumn-2383" value="/blog/seasonal-guide-to-moscow-autumn-2383" />
    <add key="/Blog/seasonal-guide-to-moscow-summer-2384" value="/blog/seasonal-guide-to-moscow-summer-2384" />
    <add key="/Blog/seasonal-guide-to-moscow-winter-2385" value="/blog/seasonal-guide-to-moscow-winter-2385" />
    <add key="/Blog/seasonal-guide-to-st-petersburg-spring-2391" value="/blog/seasonal-guide-to-st-petersburg-spring-2391" />
    <add key="/Blog/seasonal-guide-to-st-petersburg-summer-2392" value="/blog/seasonal-guide-to-st-petersburg-summer-2392" />
    <add key="/Blog/seasonal-guide-to-st-petersburg-autumn-2393" value="/blog/seasonal-guide-to-st-petersburg-autumn-2393" />
    <add key="/Blog/seasonal-guide-to-ulan-bator-spring-2397" value="/blog/seasonal-guide-to-ulan-bator-spring-2397" />
    <add key="/Blog/seasonal-guide-to-ulan-bator-summer-2398" value="/blog/seasonal-guide-to-ulan-bator-summer-2398" />
    <add key="/Blog/seasonal-guide-to-ulan-bator-autumn-2399" value="/blog/seasonal-guide-to-ulan-bator-autumn-2399" />
    <add key="/Blog/real-russia-partners-with-compare-holiday-money-2401" value="/blog/real-russia-partners-with-compare-holiday-money-2401" />
    <add key="/Blog/ten-facts-you-might-not-know-about-mongolia-2403" value="/blog/ten-facts-you-might-not-know-about-mongolia-2403" />
    <add key="/Blog/real-russia-travels-volgograd-to-samara-on-the-volga-river-2418" value="/blog/real-russia-travels-volgograd-to-samara-on-the-volga-river-2418" />
    <add key="/Blog/seasonal-guide-to-ulan-bator-winter-2422" value="/blog/seasonal-guide-to-ulan-bator-winter-2422" />
    <add key="/Blog/real-russia-travels-dominic-quiney-goes-to-russia-for-the-2018-world-cup--2494" value="/blog/real-russia-travels-dominic-quiney-goes-to-russia-for-the-2018-world-cup-2494" />
    <add key="/Blog/allegro-and-tolstoi-routes-now-on-sale-90-days-in-advance--2505" value="/blog/allegro-and-tolstoi-routes-now-on-sale-90-days-in-advance-2505" />
    <add key="/Blog/real-russia-london-office-moving-to-more-central-location-2507" value="/blog/real-russia-london-office-moving-to-more-central-location-2507" />
    <add key="/Blog/how-does-real-russia-ensure-every-customer-has-the-best-experience-possible-2509" value="/blog/how-does-real-russia-ensure-every-customer-has-the-best-experience-possible-2509" />
    <add key="/Blog/russian-railways-reveal-plans-for-new-second-class-carriages-to-ria-news--2528" value="/blog/russian-railways-reveal-plans-for-new-second-class-carriages-to-ria-news-2528" />
    <add key="/Blog/the-most-popular-museums-in-europe-according-to-instagram-2685" value="/blog/the-most-popular-museums-in-europe-according-to-instagram-2685" />
    <add key="/Blog/moscow-vladivostok-the-original-trans-siberian-2715" value="/blog/moscow-vladivostok-the-original-trans-siberian-2715" />
    <add key="/Blog/trans-siberian-facts-2716" value="/blog/trans-siberian-facts-2716" />
    <add key="/Blog/meet-the-team-lucinda-martin-2733" value="/blog/meet-the-team-lucinda-martin-2733" />
    <add key="/Blog/march-8th-international-womens-day-2768" value="/blog/march-8th-international-womens-day-2768" />
    <add key="/Blog/interview-with-travel-writer-jamie-tinklepaugh--2782" value="/blog/interview-with-travel-writer-jamie-tinklepaugh-2782" />
    <add key="/Blog/e-tickets-and-120-day-booking-window-introduced-on-certain-trains-by-russian-railways--2814" value="/blog/e-tickets-and-120-day-booking-window-introduced-on-certain-trains-by-russian-railways-2814" />
    <add key="/Blog/russias-st-basils-cathedral-re-imagined-in-seven-different-architectural-styles-2844" value="/blog/russias-st-basils-cathedral-re-imagined-in-seven-different-architectural-styles-2844" />
    <add key="/Blog/real-tales-lotte-eschbach-from-phenomenal-globe--2875" value="/blog/real-tales-lotte-eschbach-from-phenomenal-globe-2875" />
    <add key="/Blog/international-book-lovers-index-2895" value="/blog/international-book-lovers-index-2895" />
    <add key="/Blog/all-you-need-to-know-about-applying-for-a-russian-visa-in-2019-2908" value="/blog/all-you-need-to-know-about-applying-for-a-russian-visa-in-2019-2908" />
    <add key="/Blog/3-ways-to-explore-russia-by-train-2912" value="/blog/3-ways-to-explore-russia-by-train-2912" />
    <add key="/Blog/knowledge-day-back-to-school-in-russia-2918" value="/blog/knowledge-day-back-to-school-in-russia-2918" />
    <add key="/Blog/eurasian-city-breaks-a-guide-to-st-petersburg-russia-2922" value="/blog/eurasian-city-breaks-a-guide-to-st-petersburg-russia-2922" />
    <add key="/Blog/russian-transport-what-you-need-to-know-when-booking-transfers-2927" value="/blog/russian-transport-what-you-need-to-know-when-booking-transfers-2927" />
    <add key="/Blog/7-traditional-russian-food-dishes-you-simply-must-try-2934" value="/blog/7-traditional-russian-food-dishes-you-simply-must-try-2934" />
    <add key="/Blog/5-reasons-why-you-should-apply-for-your-visa-before-you-travel-2937" value="/blog/5-reasons-why-you-should-apply-for-your-visa-before-you-travel-2937" />
    <add key="/Blog/a-beginner’s-guide-to-russian-train-travel-2940" value="/blog/a-beginners-guide-to-russian-train-travel-2940" />
    <add key="/Blog/win-a-copy-of-matthew-woodward’s-new-book-‘the-railway-to-heaven’-2945" value="/blog/win-a-copy-of-matthew-woodwards-new-book-‘the-railway-to-heaven-2945" />
    <add key="/Blog/an-interview-with-seasoned-trans-siberian-travel-writer-matthew-woodward-2946" value="/blog/an-interview-with-seasoned-trans-siberian-travel-writer-matthew-woodward-2946" />
    <add key="/Blog/plan-your-trans-siberian-tour-with-real-russia-2953" value="/blog/plan-your-trans-siberian-tour-with-real-russia-2953" />
    <add key="/Blog/eurasian-city-breaks-48-hours-in-almaty-kazakhstan-2975" value="/blog/eurasian-city-breaks-48-hours-in-almaty-kazakhstan-2975" />
    <add key="/Blog/booking-your-trip-to-st-petersburg-for-uefa-euro-2020-2980" value="/blog/booking-your-trip-to-st-petersburg-for-uefa-euro-2020-2980" />
    <add key="/Blog/applying-for-a-chinese-visa-in-2019-what-you-need-to-know-2984" value="/blog/applying-for-a-chinese-visa-in-2019-what-you-need-to-know-2984" />
    <add key="/Blog/trans-siberian-railway-my-experience-as-an-american-tourist-2986" value="/blog/trans-siberian-railway-my-experience-as-an-american-tourist-2986" />
    <add key="/Blog/eurasian-city-breaks-48-hours-in-beijing-china-2996" value="/blog/eurasian-city-breaks-48-hours-in-beijing-china-2996" />
    <add key="/Blog/a-guide-to-the-golden-eagle-trans-siberian-express-2997" value="/blog/a-guide-to-the-golden-eagle-trans-siberian-express-2997" />
    <add key="/Blog/christmas-new-year-office-opening-times-3000" value="/blog/christmas-new-year-office-opening-times-3000" />
    <add key="/Blog/trans-siberian-competition-winner-2019-3005" value="/blog/trans-siberian-competition-winner-2019-3005" />
    <add key="/Blog/5-things-to-do-in-moscow-for-christmas-2019-3008" value="/blog/5-things-to-do-in-moscow-for-christmas-2019-3008" />
    <add key="/Blog/eurasian-city-breaks-48-hours-in-ulan-bator-mongolia-3027" value="/blog/eurasian-city-breaks-48-hours-in-ulan-bator-mongolia-3027" />
    <add key="/Blog/booking-your-hotel-in-russia-with-real-russia-3029" value="/blog/booking-your-hotel-in-russia-with-real-russia-3029" />
    <add key="/Blog/real-tales-lotte-eschbach-from-phenomenal-globe-3032" value="/blog/real-tales-lotte-eschbach-from-phenomenal-globe-3032" />
    <add key="/Blog/understanding-your-russian-letter-of-invitation-3033" value="/blog/understanding-your-russian-letter-of-invitation-3033" />
    <add key="/Blog/how-to-prepare-for-the-trans-mongolian-railway-as-a-family-3036" value="/blog/how-to-prepare-for-the-trans-mongolian-railway-as-a-family-3036" />
    <add key="/Blog/travel-to-russia-and-mongolia-on-a-completely-tailored-trans-siberian-holiday-3040" value="/blog/travel-to-russia-and-mongolia-on-a-completely-tailored-trans-siberian-holiday-3040" />
    <add key="/Blog/what-you-need-to-know-about-travel-insurance-for-russia-in-2020-3046" value="/blog/what-you-need-to-know-about-travel-insurance-for-russia-in-2020-3046" />
    <add key="/Blog/7-reasons-to-visit-russia-in-2020-3047" value="/blog/7-reasons-to-visit-russia-in-2020-3047" />
    <add key="/Blog/eurasian-city-breaks-48-hours-in-ulan-ude-russia-3060" value="/blog/eurasian-city-breaks-48-hours-in-ulan-ude-russia-3060" />
    <add key="/Blog/top-5-russian-superstitions-you-should-know-about-3065" value="/blog/top-5-russian-superstitions-you-should-know-about-3065" />
    <add key="/Blog/tales-from-the-trans-siberian-railway-on-the-road-to-kazan-3067" value="/blog/tales-from-the-trans-siberian-railway-on-the-road-to-kazan-3067" />
    <add key="/Blog/faberg233-the-world’s-most-expensive-easter-egg-hunt-3075" value="/blog/faberg233-the-worlds-most-expensive-easter-egg-hunt-3075" />
    <add key="/Blog/10-books-about-russia-that-you-simply-must-read-3077" value="/blog/10-books-about-russia-that-you-simply-must-read-3077" />
    <add key="/Blog/russia-with-simon-reeve-episode-1-a-real-russia-review-3079" value="/blog/russia-with-simon-reeve-episode-1-a-real-russia-review-3079" />
    <add key="/Blog/8-amazing-animals-found-in-siberia-3088" value="/blog/8-amazing-animals-found-in-siberia-3088" />
    <add key="/Blog/real-russia’s-guide-to-exploring-russia-on-a-budget-3102" value="/blog/real-russias-guide-to-exploring-russia-on-a-budget-3102" />
    <add key="/Blog/trans-siberian-zoom-backgrounds-3106" value="/blog/trans-siberian-zoom-backgrounds-3106" />
    <add key="/Blog/meet-the-team-alex-locker-3110" value="/blog/meet-the-team-alex-locker-3110" />
    <add key="/Blog/5-best-russian-films-to-watch-in-2020-3129" value="/blog/5-best-russian-films-to-watch-in-2020-3129" />
    <add key="/Blog/eurasian-city-breaks-48-hours-in-moscow-russia-3134" value="/blog/eurasian-city-breaks-48-hours-in-moscow-russia-3134" />
    <add key="/Blog/bolshoi-a-history-of-ballet-opera-and-the-arts-3137" value="/blog/bolshoi-a-history-of-ballet-opera-and-the-arts-3137" />
    <add key="/Blog/real-russia-nominated-at-the-2020-world-travel-awards-3147" value="/blog/real-russia-nominated-at-the-2020-world-travel-awards-3147" />
  </rewriteMap>
</rewriteMaps>