<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="restart" value="2" />
  </appSettings>
  <system.webServer>
  <httpErrors errorMode="DetailedLocalOnly" />
  <rewrite>  
    <rewriteMaps configSource="rewriteMaps.config" />
    <!-- <outboundRules>        
      <rule name="Fix link to new-site" preCondition="IsHTML" enabled="true" stopProcessing="true">
        <match filterByTags="A, Img, Link, Script" pattern="^(http://|https://|//)?new\.(realrussia\.([^/]+))(.*)$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                      <add input="{R:3}" pattern="^co.uk$" />
        </conditions>
        <action type="Rewrite" value="{R:1}realrussia.co.uk{R:4}" />
      </rule>              
    </outboundRules> -->
    <rules>
    <rule name="visas subdomain redirect" enabled="true" stopProcessing="true">
        <match url="^((Apply/)|(visas/UK/default.aspx)|(visas/UK/Scripts)|(visas/belarusia/apply)|(visas/kazakhstan/apply_new.aspx)|(visas/china/tourist_apply2.asp)|(visas/mongolia/tourist_apply2.asp)|(visa/)|(groupvisaframe.htm)|(progress2.asp)|(faq2Modified.asp)|(ssl/)|(vsdbackend/)|(map/)|(regform/)|(inc/custompayment.asp)|(forms/)|(forms2/)|(russianForm/)|(application/)|(upload/)|(partners/56Parallel/)|(partners/ICUHAK/)|(partners/PassportVisaExpress/)|(partners/PenguinTravel/)|(ssl/images/banners/)|(images/banners/)).*" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^([^\.]+\.)?(realrussia\.[^/]+)" />
        </conditions>
        <action type="Redirect" url="https://visas.realrussia.co.uk/{R:0}" appendQueryString="true" redirectType="Permanent" />
    </rule>
      <rule name="redirect blog archive legacy" stopProcessing="true">
        <match url="^Blog/archive/[\d]+/(.*)$" ignoreCase="true" />
        <action type="Redirect" url="blog/archive/{R:1}" redirectType="Permanent" />
      </rule>
      <rule name="redirect pages legacy" stopProcessing="true">
        <match url=".*" ignoreCase="false" />				
        <conditions>
            <add input="{Legacy:{REQUEST_URI}}" matchType="Pattern" pattern="(.+)" ignoreCase="false" negate="false" />
        </conditions>
        <action type="Redirect" url="{C:1}" redirectType="Permanent" />
      </rule>
      <rule name="WordPress: https://realrussia.co.uk" patternSyntax="Wildcard">
        <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
        <action type="Rewrite" url="index.php" />
      </rule>
    </rules>
  </rewrite>
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
  </httpProtocol>        
  <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
